// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Karla:400,700|Rubik:400,500');
@import url('https://fonts.googleapis.com/css?family=Contrail+One');


// Define fonts for body and headers
$body-font: 'Karla', "sans-serif";
$headers-font: 'Contrail One', "cursive";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
h1 {
  font-size: 32px;
  color: #3A4763;
}

h2 {
  font-size: 28px;
  color: #3A4763;
}

h3 {
  font-size: 22px;
  color: #3A4763;
}

p {
  font-size: 15px;
}

a {
  font-size: 15px;
}
