.bulknew-container {
  display: flex;
  justify-content: center;
}


.bulknew-title {
  margin: 40px 0px;
}

.bulknew-title h3 {
  color: #606470;
  text-align: center;
}

.bulknew-title p {
  color: #606470;
  text-align: center;
}

