.bulk-date-check {
  display: inline-block;
  width: 124px;
}

.delivery-form-line {
  min-height: 60px;
  font-size:16px;
}

.delivery-form-line input[type="text"] {
    font-size:16px;
}

.delivery-form-line input[type="select"] {
    font-size:16px;
}

.packages-summary {
  display: inline-block;
  font-size: 15px;
  vertical-align: middle;
  margin: 0 10px;
  width: 250px;
  overflow: hidden;
}
