.row-check {
  padding: 15px 20px;
  margin: 5px 5px;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(36,82,122,0.05);
  color: black;
  border-radius: 3px;
  border-bottom: 2px solid #25b1be;
  border-radius: 8px;
  box-shadow: 0 16px 40px rgba(0,0,0,0.12) !important;
}


.bulk-date-check {
  display: inline-block;
  width: 124px;
  margin-top: 10px;
}

.delivery-form-line {
  // min-height: 60px;
  font-size:16px;
}

.delivery-form-line input[type="text"] {
    font-size:16px;
}

.delivery-form-line input[type="select"] {
    font-size:16px;
}

// .packages-summary {
//   display: inline-block;
//   font-size: 15px;
//   vertical-align: middle;
//   margin: 0 10px;
//   width: 280px;
//   overflow: hidden;
// }
.container-check h3, h2 {
  font-family: "Rubik";
}

.flex {
  display: flex;
  align-items: center;
  min-height: 90px;
}

.pt-check-container {
  margin-left: 20px;
  .pt-check {
    margin-right: 20px;
  }
}

.new_delivery_package,
.edit_delivery_package {
  display: inline-block;

  .narrow-input {
    width: 50px;
  }
}

.package-type-icon {
  width: 50px;
  height: 50px;
  margin: 5px 0px;
}

.validate-center {
  margin-top: 100px;
}
