// Specific CSS for your home-page
.banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  // position: absolute;
  // top: 0;
  // bottom: 0;
  // left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-content {
  height: 300px;
  text-align: center;
  margin: 0;
}

.banner-content h1 {
  font-size: 70px;
}

.banner-content p {
  margin: 0;
  font-size: 20px;
  opacity: 0.9;
  font-weight: normal;
}
