.show-container {
  max-height: calc(100vh - 70px);
  // height: 100vh;
}

.big-title {
  i {
    color: #25B1BE;
    font-size: 25px;
    text-decoration: none;
    margin-left: 40px;
  }

  h1 {
       font-size: 25px;
       font-family: "Rubik";
  }

}


.style {
  display: flex;
  justify-content: space-between;
}

.style h3 {
  font-family: "Rubik";
}

.all-cards {
  display: flex;
}


// Partie de gauche contenant infos client

.card-left {
  padding: 0px 5px 20px 40px;
  display: flex;
  flex: 1 1 50vh;

  .infos-card {
    box-shadow: 0px 2px 4px rgba(36,82,122,0.15);
    border-radius: 2px;
    background-color: white;
    // height: 100%;
    padding: 20px;
    flex: 1 1 100vh;
  }

  .infos-card h3 {
  font-family: "Rubik";
  }

  .infos-card p {
    padding: 0;
  }

  .product {
    flex: 1;
    text-align: center;
  }

  .titles {
    display: flex;
    height: 40px;
    color: white;
  }

  .title {
    background-color: #3a4763;
    flex: 1;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    padding-top: 5px;
  }

  .commande-content {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
  }

  .product-list {
    // flex: 1;
    display: flex;
    text-decoration: noun;
    justify-content: space-between;
  }

  .product {
    flex: 1;
    text-align: center;
  }

  .product-list:nth-child(odd) {
    background: white;
    padding-top: 5px;
  }
  .product-list:nth-child(even) {
    background: #3a4763;
    opacity: 0.8;
    color: white;
    padding-top: 5px;
  }

  .delivery-enregistre {
    color: #757761;
    // font-weight: bold;
  }

  .delivery-enleve {
    color: #f5b700;
    font-weight: bold;
  }

  .delivery-livre {
    color: #2dd881;
    font-weight: bold;
  }
}

// Partie de droite contenant les infos sur la livraison

.cards-right {
  display: flex;
  flex: 1 1 50vh;
  flex-direction: column;
  padding: 0px 60px 20px 5px;
}

  .map-card {
    display: flex;
    box-shadow: 0px 2px 4px rgba(36,82,122,0.15);
    border-radius: 2px;
    height: 50%;
    padding: 10px;
    background-color: white;
    overflow: hidden;
    margin-bottom: 10px;
  }

    .map-card2 {
      height: 138%;
      width: 100%;
    }
    iframe {
      border: 0px solid black;
      width: 100%;
    }
    .output {
      background: #eee;
    }

  .progress-card {
    box-shadow: 0px 2px 4px rgba(36,82,122,0.15);
    border-radius: 2px;
    background-color: white;
    padding: 0 10px 0px 10px;
    z-index: 1;
    margin-bottom: 10px
  }

  .progress-card h3 {
    padding: 0px 0px 10px 10px;
  }

  .driver-card {
    box-shadow: 0px 2px 4px rgba(36,82,122,0.15);
    border-radius: 2px;
    background-color: white;
    padding: 0 10px 0px 10px;
    // position: relative;
    // flex: 1 1 auto;

    .driver-content {
      display: flex;
      justify-content: space-between;
      padding: 0px 20px 0px 10px;
      align-items: center;
    }

    .infos-driver {
      // left: 20px;

    }

    .photo-driver img {
      // position: absolute;
      // top: 20px;
      // right: 40px;
      height: 70px;
      border-radius: 50%;
    }
  }
