.container-show {
  width: 100%;
  margin-right: auto;
  margin-left: 172px;

}

.big-title {
  margin: 40px 0 30px 60px;
  vertical-align: middle;
}

.big-title i {
  color: #24527A;
  font-size: 30px;
  text-decoration: none;
}

.style {
  display: flex;
  justify-content: space-between;
}

.all-cards {
  display: flex;
  height: calc(100vh - 230px)
}


// Partie de gauche contenant infos client

.card-left {
  padding: 0px 5px 20px 60px;
  display: flex;
  flex: 1 1 50vh;
  // height: 70vh;
}

  .infos-card {
    // border: 1px solid #3A4763;
    box-shadow: 0px 2px 4px rgba(36,82,122,0.15);
    border-radius: 2px;
    background-color: white;
    height: 100%;
    padding: 20px;
    flex: 1 1 100vh;
  }

  .infos-card p {
    padding: 0;
  }

.margin-left-negatif-40 {
  margin-left: -40px;
}

.product {
  flex: 1;
  text-align: center;
}

  // .infos-card h3 {
  //   font-family: "Rubik";
  //   font-weight: thin;
  //   font-size: 18px;
  //   padding: 0px;
  // }

    .titles {
      display: flex;
      height: 40px;
      color: white;
    }

      .title {
        background-color: #3a4763;
        flex: 1;
        font-size: 20px;
        text-align: center;
        justify-content: center;
        font-weight: bold;
        padding-top: 5px;
      }

        .product-list {
          flex: 1;
          display: flex;
          text-decoration: noun;
          justify-content: space-between;
        }

        .margin-left-negatif-40 {
          margin-left: -40px;
        }

          .product {
            flex: 1;
            text-align: center;
          }

          .product-list:nth-child(odd) {
            background: white;
            padding-top: 5px;
          }
          .product-list:nth-child(even) {
            background: #3a4763;
            opacity: 0.8;
            color: white;
            padding-top: 5px;
          }


// Partie de droite contenant les infos sur la livraison

.cards-right {
  display: flex;
  flex: 1 1 50vh;
  justify-content: space-between;
  flex-direction: column;
  padding: 0px 60px 20px 5px;
}

  .map-card {
    display: flex;
    box-shadow: 0px 2px 4px rgba(36,82,122,0.15);
    border-radius: 2px;
    height: 50%;
    // flex: 0 0 auto;
    // flex: 1 1 50%;
    padding: 10px;
    background-color: white;
    overflow: hidden;
    margin-bottom: 10px;
  }

    .map-card2 {
      height: 128%;
      width: 100%;
    }
    iframe {
      border: 0px solid black;
      width: 100%;
    }
    .output {
      background: #eee;
    }

  .progress-card {
    box-shadow: 0px 2px 4px rgba(36,82,122,0.15);
    border-radius: 2px;
    background-color: white;
    padding: 0 10px 0px 10px;
    z-index: -1;

    flex-direction: column;
    // flex: 1 1 auto;
    overflow: hidden;
    margin-bottom: 10px
  }

  .progress-card h3 {
    padding: 0px 0px 10px 10px;
  }

    // .progress-bar-content {
    //   height: 100%;
    // }

      // .progress_bar {
      //   margin-bottom: 10px;
      // }

  .driver-card {
    box-shadow: 0px 2px 4px rgba(36,82,122,0.15);
    border-radius: 2px;
    background-color: white;
    padding: 0 10px 0px 10px;
    position: relative;
    flex: 1 1 auto;
  }

  .driver-card h3, p {
    padding: 0px 0px 0px 10px;
  }

    .infos-driver {
      left: 20px;
    }

    .photo-driver img {
      position: absolute;
      top: 20px;
      right: 40px;
      height: 100px;
      border-radius: 50%;
    }
