<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <h3>Pedalo</h3>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right">
    <div id="unique-link">
      <%= link_to "Sign in", new_user_session_path %>
    </div>
  </div>
</div>

