<div class="dashboard-card-container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="dashboard-card">
        <div class="bottom-dashboard">
         <canvas id="myChart2" width="400" height="400" data-></canvas>
        </div>
      </div>
    </div>
    <div class="dash-container">
      <div class="top-dashboard">
      <% today_7 = DateTime.now.midnight - 7.day %>
      <% tomorrow_7 = DateTime.now.midnight - 6.day %>
      <% nb_livred = @all_deliveries.delivered.count%>
      <% nb_delayed = @all_deliveries.where("complete_before < ?", DateTime.now).count  %>
      <% rest = @all_deliveries.count - (nb_delayed + nb_livred) %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="dashboard-card">
        <div class="topleft-dashboard">
         <canvas id="myChart" width="100" height="100" data-delayed="<%= nb_delayed %>" data-livred="<%= nb_livred %>" data-test = "<%=  rest%>"></canvas>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
     <div class="dashboard-card">
      <div class="dash-infos">
       Hello je suis en train de coder
       <%= @all_deliveries.today.important.count %>
      </div>
     </div>
    </div>
  </div>
</div>
