<div class="centered-sucess">

<h1>C'est tout bon !</h1>

<%= image_tag "bike-success.gif"%>

<p>Vos <%= @count %> livraisons sont prises en compte !</p>
<%= link_to "Voir toutes mes livraisons", deliveries_path, class: "btn-model" %>
</div>
