<!-- <div class="main-container"> -->
  <div class="table-container">
      <div class="orders-separate">Votre tableau de bord - <%= @period %></div>
      <%= render "table", deliveries: @deliveries %>
  </div>
<!-- </div> -->




