 <div class="banner">
    <div class="banner-content">
       <div class="banner-text" >
         <h1>Pedalo</h1>
         <h2>coucou</h2>
         <h3>pedalo is the best</h3>
          <p>Une solution efficace pour toutes vos problématiques d'expédition.</p>
          &ensp;
          <p><%= link_to "Nouvelle expédition", new_user_session_path, class: "btn-model" %></p>
      </div>
    </div>
</div>
