<div class="banner" style="background-image: url('<%= image_path "homepage.svg" %>');">
  <div class="col-xs-2"></div>
  <div class="col-xs-5">
    <div class="home-container">
      <h1>La gestion de livraison simplifiée</h1>
      <p>Importez, suivez, analysez vos livraisons en temps réel</p>
      <div>
        <%= link_to "Livrez-moi", root_path, class: "btn-home" %>
      </div>
    </div>
  </div>
  <div class="col-xs-3"></div>
  <div class="col-xs-3"></div>
</div>
