<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "image-homepage-forest.png" %>');">
  <div class="col-xs-2"></div>
  <div class="col-xs-5">
    <div class="home-container">
      <div class="banner-content">
        <h1>La gestion de livraison simplifiée</h1>
        <p>Importez, suivez, analysez vos livraisons en temps réel</p>
        <div>
          <a href="#" class="btn-home">Livrez-moi</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-3"></div>
  <div class="col-xs-3"></div>

</div>
  <!--     <ul>
        <li><p>Uploadez vos commandes en format CSV ou par API </p></li>
        <li><p>Suivez en temps réel vos livraisons</p></li>
        <li><p>Analysez vos performances grâce à un dashboard personnalisé</p></li>
      </ul> -->
