body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    padding-top: 0px;
    background-color: #F7F7F7;
}

.banner-index {
  // position: fixed;
  // top: 0px;
  margin-top: 20px;
  height: 48vh;
  width: 100%;
  background-size: cover;
  background-position: 0px -512px;
}

.results-message {
  justify-content: center;
  text-align: center;
  height: 64px;
  margin-top: 0px;
  margin-bottom: 40px;
}
