.btn-model {
  color: #3A4763;
  background-color: transparent;
  border: 3px solid #3A4763;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  box-shadow: 1px;
}

.btn-model:hover {
  text-decoration: none;
  color: #3A4763;
}


