.form-container {
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  background-position: center;
  color: white;
  position: relative;
  padding-top: 30px;
}

.form-login {
  background-position: center;
  color: black;
}

.links_sign_in {
  text-align: center;
  .btn-model-sign-in {
    position: center;
  }
}
