/* Style the sidebar - fixed full height */
.sidebar {
  height: calc(100vh - 70px);
  width: 240px;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f7f7f7;
  overflow-x: hidden;
  // padding-top: 16px;
  border-right: 1px solid rgba(96, 100, 112, 0.2);
  position: sticky;
  top: 0!important;
  float: left;
  ul {
    list-style: none;
    padding: 0;
  }
}

.sidebar-content > li {
  margin: 24px 0px;
  display: block;
}

/* Style sidebar links */
.sidebar-content a {
  padding: 6px 8px 6px 16px;
  font-size: 16px;
  color: #606470;
  text-decoration: none;
  display: block;
}

.delivery-list li {
  position: relative;
  text-align: left;
  margin: 12px 0px;
  padding-left: 36px;
}

.delivery-list li a:before {
  content: "";
  position: absolute;
  // z-index: -1;
  z-index: -1;
  left: 0%;
  right: 100%;
  bottom: 0;
  background: #5dacbd;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.delivery-list li a:hover:before, .delivery-list li a:focus:before, .delivery-list li a:active:before {
  right: 0;
}
/* Style links on mouse-over */


/* Style the main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
