.tabs {
  display: flex;
  padding: 10px 10px 0 10px;
}

.tabs a {
  color: white;
  border: 1px solid #ddd;
  // height : 40px;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.tabs a:hover:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #F9CE01;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.tabs a:hover:hover:before, .tabs a:hover:focus:before, .tabs a:hover:active:before {
  right: 0;
}

.tabs h3 {
  margin-top: 0;
}

.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
}
.tab {
  background: #24527a;
  flex: 0 0 25%;
  text-align: center;
  padding: 20px 0;
  height: 58px;
}

.tab:first-child {
  border-radius: 0 0 0 0;
}
.tab:last-child {
  border-radius: 0 0 0 0;
}

// .tab.active {
//   background: white;
//   color: black;
//   border-bottom: 3px solid;
//   border-color: white white #F9CE01 white;
//  }

// .container {
//   position: absolute;
//   margin-top: 80px;
//   width: 100%;
// }
// .container .row {
//   // border: solid;
//   margin-left: 0px;
//   margin-right: 0px;
//   text-align: center;
// }

.main-container {
  display: flex;
}

.table-container {
  flex: 2;
  box-shadow: 0 20px 20px -5px rgba(0,0,0,0.15);
}

.dash-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 80%;
  padding-top: 0px;
  margin-top: 0px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #F4F4F4;
}

.container-content {
  margin-left: 10px;
  margin-right: 10px;
  //box-shadow: 2px 2px 2px 2px #888888;
}

.container-search {
  display: flex;
  height: 60px;
  padding-top: 10px;
}

.orders {
  flex: 1;
  padding-top: 12px;
  padding-left: 16px;
  font-size: 24px;
  font-weight: bold;
}

.delivery-search {
  flex: 1;
  margin-right: 0px;
  margin-top: 10px;
  width: 50px;
}

.headers {
  display: flex;
  height: 40px;
}

.head {
  background-color: #8ebcea;
  flex: 1;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  padding-top: 10px;
}

.delivery-container {
  display: flex;
  flex-direction: column;
}


.delivery-rows {
  flex: 1;
  display: flex;
}

.delivery {
  flex: 1;
  text-align: center;
}

.delivery-rows:nth-child(odd) {
  background: white;
}
.delivery-rows:nth-child(even) {
  background: light-gray;
}

.delivery-search {
  .form-control {
  border-radius: 15px;
  width: 80%;
}}

.delivery-rows:hover{
  cursor: pointer;
  text-decoration: none;
  opacity: 0.7;
}

#myChart {
  margin-top: 0px;
  margin-left: 10px;
  width: 300px !important;
  height: 300px !important;
}

#myChart2 {
  width: 500px !important;
  height: 500px !important;
}

.topleft-dashboard {
  background-color: white;
  border-color: blue;
  width: 320px;
  border-radius: 10px;
  box-shadow: 0 20px 20px -14px rgba(0,0,0,0.15);
}

.dash-infos{
  height: 300px;
  width: 200px;
  background-color: white;
  margin-left: 10px;
  border-radius: 10px;
  box-shadow: 0 20px 20px -14px rgba(0,0,0,0.15);
}
.bottom-dashboard {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 20px 20px -14px rgba(0,0,0,0.15);
}


.top-dashboard {
  display: flex;
  margin-bottom: 16px;
  margin-top: 10px;
  ;
}

