.tabs {
  display: flex;
  padding: 10px 10px 0 10px;
}

.tabs a {
  color: white;
  border: 1px solid #ddd;
  // height : 40px;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.tabs a:hover:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #27b1be;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.tabs a:hover:hover:before, .tabs a:hover:focus:before, .tabs a:hover:active:before {
  right: 0;
}

.tabs h3 {
  margin-top: 0;
}

.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
}
.tab {
  background: #24527a;
  flex: 0 0 25%;
  text-align: center;
  padding: 20px 0;
  height: 58px;
}

.tab:first-child {
  border-radius: 0 0 0 0;
}
.tab:last-child {
  border-radius: 0 0 0 0;
}

// .tab.active {
//   background: white;
//   color: black;
//   border-bottom: 3px solid;
//   border-color: white white #F9CE01 white;
//  }

// .container {
//   position: absolute;
//   margin-top: 80px;
//   width: 100%;
// }
// .container .row {
//   // border: solid;
//   margin-left: 0px;
//   margin-right: 0px;
//   text-align: center;
// }

.main-container {
  width: 100%;
}

.table-container {
  flex: 2;
}

.dash-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 80%;
  padding-top: 0px;
  margin-top: 0px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #F4F4F4;
}

.container-content {
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgb(247, 249, 251);
  padding-top: 30px;
  //box-shadow: 2px 2px 2px 2px #888888;
}

.container-search {
  display: flex;
  height: 60px;
  padding-top: 10px;
}

.orders {
  flex: 1;
  padding-top: 12px;
  padding-left: 16px;
  font-size: 24px;
  font-weight: bold;
}

.headers {
  display: flex;
  padding: 12px;
  background-color: #27b1be;
  margin-left: 35px;
  margin-right: 35px;
}

.head {
  flex: 1;
  font-size: 16px;
  text-align: left;
  justify-content: center;
  font-weight: bold;
  padding-top: 10px;
  color: rgba(0, 0, 0, 0.7);
  margin-left: 30px;
}

.delivery-container {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 30px;
}


.delivery-rows {
  flex: 1;
  display: flex;
  padding: 20px 5px;
  margin: 5px 5px;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(36,82,122,0.05);
  color: black;
  border-radius: 3px;
}

.delivery {
  flex: 1;
  text-align: left;
  padding-left: 30px;
}

.delivery-search {
  .form-control {
  border-radius: 15px;
  width: 80%;
}}

.delivery-rows:hover{
  text-decoration: none;
  color: black;
}

.delivery-enregistre {
  color: black;
}

.delivery-enleve {
  color: orange;
}

.delivery-livre {
  color: green;
}
