.tabs {
  display: flex;
  padding: 10px 10px 0 10px;
}
.tabs a {
  color: white;
  border: 1px solid #ddd;
  // height : 40px;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}
.tabs h3 {
  font-size: 17px;
  font-weight: bold;
  margin-top: 0;
}
.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
}
.tab {
  background: gray;
  flex: 0 0 25%;
  text-align: center;
  padding: 20px 0;

}
.tab:first-child {
  border-radius: 10px 0 0 0;
}
.tab:last-child {
  border-radius: 0 10px 0 0;
}
.tab.active {
  background: white;
  color: black;
  border-bottom: solid;
  border-color: white white blue white;
}
.container {
  position: absolute;
  margin-top: 80px;
  width: 100%;
}
.container .row {
  // border: solid;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
}

.container-content {
  margin-left: 10px;
  margin-right: 10px;
}

.container-search {
  display: flex;
  height: 60px;
  padding-top: 10px;
}

.orders {
  flex: 1;
  padding-top: 10px;
  padding-left: 16px;
  font-size: 24px;
  font-weight: bold;
}

.delivery-search {
  flex: 1;
  margin-right: 10px;
}

.headers {
  display: flex;
  height: 40px;
}

.head {
  background-color: #44B3FF;
  flex: 1;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  padding-top: 10px;
}

.delivery-container{
  display: flex;
  flex-direction: column;
}


.delivery-rows {
  flex: 1;
  display: flex;
}

.delivery {
  flex: 1;
  text-align: center;
}

.delivery-rows:nth-child(odd) {
  background: white;
}
.delivery-rows:nth-child(even) {
  background: #d3edff;
}

.form-control {
  border-radius: 15px;
}
