.dashboard-card {
  height: 200px;
  background-color: white;
  background-position: center;
  color: #24527A;
  margin: 8px;
  box-shadow: 0 20px 20px -18px rgba(0,0,0,0.15);
  text-align: center;
  margin-top: 5px;
  padding: 10px;
  border-bottom: 2px solid #27b1be;
   h3 {
    font-size: 30px;
    color: black;
    font-family: "Rubik";
   }
   p {
    font-size: 20px;
    color: black;
    opacity: 0.7;
   }
}

.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}

.main-card-container {
  display: flex;
  flex-direction: column;
}

.card-container {
  margin: 0 40px;
}

.card-title-container h3 {
  font-family: "Rubik";
  margin-left: 50px;
  margin-top: 20px;
}

.card-title-container-second h3 {
  font-family: "Rubik";
  margin-left: 62px;
  margin-top: 20px;
}

.undertitle-dashboard {
  flex: 1;
  padding-top : 12px;
  padding-left: 35px;
  padding-bottom: -40px;
  font-size: 20px;
  font-weight: bold;
}

#gauge {
    padding-top: 0px !important;
    padding-left: 10px !important;
   }

#myChart {
  margin-top: 0px;
  margin-left: 10px;
  width: 100%;
  // height: 240px !important;
}

// #myChart2 {
//   width: 500px !important;
//   height: 500px !important;
// }

.topleft-dashboard {
    background-color: white;
    border-color: blue;
    width: 320px;
    border-radius: 10px;
    box-shadow: 0 20px 20px -14px rgba(0,0,0,0.15);
  }

.dash-infos{
  height: 300px;
  width: 200px;
  background-color: white;
  margin-left: 10px;
  border-radius: 10px;
  box-shadow: 0 20px 20px -14px rgba(0,0,0,0.15);
}

.bottom-dashboard {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 20px 20px -14px rgba(0,0,0,0.15);
}


.top-dashboard {
  display: flex;
  margin-bottom: 16px;
  margin-top: 10px;
  ;
}

.headers-upcoming {
  display: flex;
  padding: 12px;
  background-color: #27b1be;
  margin-left: 35px;
  margin-right: 35px;
}

.head-upcoming {
  flex: 1;
  font-size: 16px;
  text-align: left;
  justify-content: center;
  font-weight: bold;
  padding-top: 10px;
  color: rgba(0, 0, 0, 0.7);
  margin-left: 30px;
  // flex: 1;
  // font-size: 20px;
  // text-align: center;
  // justify-content: center;
  // font-weight: bold;
  // padding-top: 10px;
}

.delivery-container-upcoming {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 30px;
}

.container-content-upcoming {
 //background-color: rgb(247, 249, 251);
 margin-left: 30px;
 margin-right: 30px;
}

.delivery-rows {
  flex: 1;
  display: flex;
  padding: 20px 5px;
  box-shadow: 0px 2px 2px rgba(36,82,122,0.15);
  margin: 5px 5px;
  background-color: white;
  color: black;
  border-radius: 3px;
}

.delivery-rows a:hover {
  text-decoration: none;
}

.delivery-upcoming {
  flex: 1;
  text-align: left;
  padding-left: 30px;
}

.delivery-rows:hover{
  text-decoration: none;
}
